body {
  background-color:;
  padding: 0;
  margin: 0px;
  color: #666;
  line-height: 1.5em;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
h3 {
  font-size: 1.5em;
  color: #777;
}
header {
  font-size: 17px;
}
.nav-container {
  margin: 0;
  padding: 0;
  background: #fff;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
}
#nav-icon, #nav-icon-home {
  position:absolute;
  top:20px;
  right:20px;
  color: #fff;
  font-size:20px;
  cursor:pointer;
}

.brand-icon {
  width: 25%;
}
.logo {
  padding: 5px 20px;
  color: #333;
  font-weight: bold;
  font-style: italic;
}
.navbar {
  padding:0;
  background-color:#fff;
  position:fixed;
  top:0;
  right:0;
  text-align:right;
  width:75%;
}
div[data-home="nav"] {
  padding-right: 8em;
}

.navbar a {
  display:inline-block;
  text-decoration:none;
  color:#fff ;
  margin: 0px;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 23px 15px;
}
.navbar a:hover {
  font-weight: bold;
}
.home-nav a {
  color:#555 ;
}
.home-nav a:hover {
  color:#39997f;
}
#background {
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  background:linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)),
          url("../img/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.banner-header {
  font-size: 30px;
  padding: 0 2em;
  line-height: 2em;
}
.highlight {
  color: #39997f;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 30px;
}
.header-text {
  text-align: center;
  padding-top: 9em ;
  color: #eee;
  margin-top: 60px;
}
#buttons {
  margin: 50px 0px;
  text-align: center;
}
.start-btn {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  letter-spacing: 2px;
  width: 40%;
  max-width: 370px;
  min-width: 220px;
  padding: 20px 10px;
  background: #39997f;
  border-radius: 3px;
  display: block;
  margin: 30px auto;
}
.sign-link {
  color: #39997f;
  font-size: 15px;
  text-decoration: none;
}
@media screen and (max-width: 760px) {
  div[data-home="nav"] {
    padding-right: 0;
  }  
  .banner-header {
    font-size: 23px;
  }
  .highlight {
    font-size: 32px;
  }
  .start-btn {
    padding: 13px 10px;
  }  
  .brand-icon {
    width: 100%;
    padding: 5px 0;
  }
  #nav-icon-home {
    color: #39997f;
  }
  .nav-container {
    background: #fff;
    height: 60px;
  }
  .navbar {
    margin-top: 60px;
    text-align:center;
    width:80%;
    transform: translateX(-130%);
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.3),
                0 2px 4px 0px rgba(0,0,0,0.3);
  }
  .responsive {
    transition:transform 0.6s ease;
  }
  .open {
    transform: translateX(-30%);
  }
  .navbar a {
    display:block;
    text-decoration:none;
    padding: 20px;
    color:#39997f;
  }
  .navbar a:hover {
    background: #39997f;
    color: white;
  }
}

@media screen and (max-width: 500px) {
  .banner-header {
    font-size: 15px;
  }
  .highlight {
    font-size: 24px;
  }
}




/*SIGN UP/ SIGN IN */
#page-nav {
  background:#39997f;
  color: #eee;
}
div[data-page="nav"] {
  padding-right: 4em;
  background: inherit;
}
.container {
  max-width: 550px;
  margin: 70px auto;
  padding: 20px 40px ;
}
.label {
  margin-bottom: 5px;
}
form h3 {
  margin-bottom: 30px;
}
#form-feedback {
  padding: 15px;
  display: none;
}
#form-feedback.success {
  display: block;
  background: #e9f7f1;
  color: #1c533b;
}
#form-feedback.fail {
  display: block;
  background: #fce8e8;
  color: #8a0f0f;
}
input {
  width: 100%;
  padding: 10px ;
  margin-bottom: 10px;
}

button[type="submit"] {
  margin: 40px 0;
  margin-bottom: 20px;
  width: 100%;
  padding: 14px 0;
  background: #39997f;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

#image-preview {
  width: 150px;
  border: none;
}
#footer {
  margin-top: 50px;
  padding:4em 2em ;
  font-size: 13px;
  line-height: 2em;
  background-color: #222;
  color:#ddd;
  text-align:center;
}
#footer h4 {
  margin:0px;
}


@media screen and (max-width: 760px) {
  div[data-page="nav"] {
    padding-right: 0;
    background: white;
  }
  #login-form input {
    width: 100%;
  }

  button[type="submit"] {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px 30px;
  }
}







